body{

	padding-top: 20px;		
}

p {
	font-family: 'Open Sans', sans-serif;
}

h1 h2 h3 h4 {
	font-family: 'Oswald', sans-serif;
}

.jumbotron{
	margin-bottom: 0px;	
}

#footer{
	margin-bottom: -40px;	
}

.centered{
	margin: auto;
}